services:
    lukewcs.extmgrplus.listener:
        class: lukewcs\extmgrplus\event\listener
        arguments:
            - '@lukewcs.extmgrplus.core'
        tags:
            - { name: event.listener }
    lukewcs.extmgrplus.core:
        class: lukewcs\extmgrplus\core\ext_mgr_plus
        arguments:
            - '@lukewcs.extmgrplus.core.common'
            - '@ext.manager' 
            - '@cache.driver'
            - '@request'
            - '@log'
            - '@user'
            - '@config'
            - '@config_text'
            - '@language'
            - '@template'
            - '@dbal.conn'
            - '@path_helper'
            - '%core.table_prefix%'
    lukewcs.extmgrplus.core.common:
        class: lukewcs\extmgrplus\core\ext_mgr_plus_common
        arguments:
            - '@config'
            - '@config_text'
            - '@language'
            - '@template'
            - '@ext.manager' 
    lukewcs.extmgrplus.controller.acp:
        class: lukewcs\extmgrplus\controller\acp_ext_mgr_plus_controller
        arguments:
            - '@lukewcs.extmgrplus.core.common'
            - '@language'
            - '@template'
            - '@request'
            - '@config'
