/* GENERAL */

fieldset {
	border-radius: 5px;
}

fieldset p.submit-buttons {
	margin-top: 0;
	padding: 0 4px 4px 4px;
}

fieldset dt label,
fieldset.extmgrplus_order_and_ignore dd label {
	cursor: inherit;
}

legend {
	background: inherit;
	margin: 2px 0 0 -11px;
	border-top: inherit;
	border-left: inherit;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	top: 0;
}

input[type="submit"][name="confirm"],
input[type="submit"][name^="extmgrplus_"],
input[type="button"][name^="extmgrplus_"],
input[type="reset"][name^="extmgrplus_"] {
	padding: 3px 4px;
}

code {
	background-color: #dddddd;
	padding: 0 0.25em;
	color: black;
}

/* Footer */

.extmgrplus_footer {
	margin-top: 1em;
	text-align: center;
	font-size: 0.75em;
}

/* confirm_box (phpBB)*/

#confirm h2 {
	margin-bottom: 0.25em;
}

/* SETTINGS */

legend.legend_sub {
	border: 0;
	margin: 1em 0;
	padding: 0;
	display: flex;
	white-space: nowrap;
}

legend.legend_sub:after {
	content: "";
	border-bottom: 1px solid #cccccc;
	width: 100%;
	margin: 0 0 0.5em 1em;
}

/*
* phpBB ACP Toggles - A CSS class that makes it easy to display checkboxes as toggles.
* Source     : https://danklammer.com/articles/simple-css-toggle-switch/
* Revision by: Kirk (customization and optimization), LukeWCS (optimization)
*/

.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 38px;
	height: 17px;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
	font-family: FontAwesome;
	transition: background-color 0.2s;
}

.toggle:before {
	position: absolute;
	width: 14px;
	height: 13px;
	background-color: #ffffff;
	top: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 22px;
	content: "\f00d";
	transition: 0.2s;
}

.toggle,
.toggle:hover,
.toggle:focus {
	background-color: #cccccc;
	border: none;
	color: #000000;
}

.toggle:checked {
	background-color: #3b87ab;
}

.toggle:checked:before {
	left: 2px;
	content: "\f00c";
}

/* LukeWCSphpBBConfirmBox */

div[id$="_confirmbox"] {
	max-width: 450px;
	border: 2px solid skyblue;
	margin: 0.75em 0.5em;
	padding: 0.25em 0.5em;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
	box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
}

div[id$="_confirmbox"] h2 {
	margin: 0 0 0.25em 0;
}

div[id$="_confirmbox"] p:nth-of-type(2) {
	text-align: center;
	margin: 0;
	padding: 0 4px 4px 4px;
}

div[id$="_confirmbox"] input[type="button"] {
	padding: 3px 4px;
}

input[type="submit"]:disabled,
input[type="button"]:disabled,
input.confirmbox_active {
	opacity: 0.5;
	cursor: not-allowed;
}

/* EXTENSION MANAGER */

.js_link {
	color: #105289;
}

.js_link:hover {
	color: #bc2a4d;
	text-decoration: underline;
	cursor: pointer;
}

.js_link.disabled,
.js_link.disabled:hover {
	color: #536482;
	text-decoration: none;
	cursor: not-allowed;
	opacity: 0.5;
}

fieldset.quick a i.icon,
.js_link i.icon {
	margin: 0 0.3em 0 0;
	font-size: 1.1em;
}

div.successbox i.icon,
fieldset.quick a i.icon,
.js_link i.icon {
	display: inline-block;
}

div.successbox.notice i.icon {
	font-size: 1.2em;
}

thead th i.icon {
	font-size: 1.1em;
	font-weight: normal;
}

fieldset.extmgrplus_order_and_ignore dt {
	width: 50%;
}

fieldset.extmgrplus_order_and_ignore dd {
	margin-left: 50%;
	color: inherit;
}

fieldset.extmgrplus_order_and_ignore dd label {
	text-align: left;
	font-weight: bold;
}

fieldset.extmgrplus_order_and_ignore dd label:hover {
	color: inherit;
}

#extmgrplus_list input[name$="able_all"] {
	padding: 1px 5px;
}

#extmgrplus_list input[type="text"] {
	text-align: right;
	padding: 0 2px;
	margin: 0 2px;
	background-color: #f9f9f9;
}

input[type="text"].inactive {
	opacity: 0.5;
}

input[type="checkbox"]:disabled {
	cursor: not-allowed;
}

#extmgrplus_list th:nth-of-type(1) {
	width: 1%;
}

#extmgrplus_list th:nth-of-type(3) {
	width: 16%;
}

#extmgrplus_list th:nth-of-type(1n+3) {
	text-align: center;
}

#extmgrplus_list th:nth-of-type(4) {
	width: 1%;
}

#extmgrplus_list th:nth-of-type(5) {
	width: 10%;
}

#extmgrplus_list th:nth-of-type(6) {
	width: 25%;
}

#extmgrplus_list th:nth-of-type(1n+7) {
	width: 1%;
}

#extmgrplus_list td:nth-of-type(1) i.icon {
	cursor: help;
}

#extmgrplus_list td:nth-of-type(3) i.icon {
	cursor: help;
	font-size: 1.2em;
}

#extmgrplus_list td:nth-of-type(3) i.icon:is(.fa-question-circle, .fa-exclamation-triangle) {
	color: #df950d;
}

#extmgrplus_list td:nth-of-type(1n+3) {
	text-align: center;
}

#extmgrplus_list td:nth-of-type(4) span {
	cursor: help;
}

#extmgrplus_list td:nth-of-type(7) i.icon {
	cursor: help;
	font-size: 1.3em;
}

/* VERSIONCHECK PROGGRESS */

.progress_container {
	background-color: #f9f9f9;
	height: 1.20em;
	border-radius: 5px;
	position: relative;
	margin: 1em 0 0.25em 0;
}

.progress_bar {
	background-color: lightgreen;
	height: 100%;
	border-radius: 5px;
}

.progress_value {
	color: black;
	position: absolute;
	font-size: 0.85em;
	top: 1px;
	left: 0;
	right: 0;
}

.progress_anim {
	background-color: lightblue;
	animation-name: progress_anim_block;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes progress_anim_block {
    from {
		width: 0%;
	}

    to {
		width: 100%;
	}
}

/* RESPONSIVE */

.extmgrplus_responsive {
	display: none;
}

@media (max-width: 700px){
	legend {
		margin: 2px 0 0 -6px;
		padding: 2px 5px;
	}

	#extmgrplus_settings dd {
		margin: 0.5em 0 0 0;
	}

	fieldset.extmgrplus_order_and_ignore dt {
		width: 100%;
	}

	fieldset.extmgrplus_order_and_ignore dd {
		margin: 0.5em 0 0 0;
		padding: 0.5em 0 0 0;
		border-top: 1px solid #cccccc;
	}
}
