/* GENERAL */

fieldset {
	border-radius: 5px;
}

fieldset p.submit-buttons {
	margin-top: 0;
	padding: 0 4px 4px 4px;
}

fieldset dt label,
fieldset dd label {
	cursor: inherit;
}

legend {
	background: inherit;
	margin: 2px 0 0 -11px;
	border-top: inherit;
	border-left: inherit;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	top: 0;
}

input[type="submit"][name="confirm"],
input[type="submit"][name^="extmgrplus_"],
input[type="button"][name^="extmgrplus_"] {
	padding: 3px 4px;
}

/* Footer */

.extmgrplus_footer {
	margin-top: 1em;
	text-align: center;
	font-size: .75em;
}

/* confirm_box (phpBB)*/

#confirm h2 {
	margin-bottom: .25em;
}

/* LukeWCSphpBBConfirmBox */

div[id$="_confirmbox"] {
	max-width: 450px;
	border: 2px solid skyblue;
	margin: .75em .5em;
	padding: .25em .5em;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
	box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
}

div[id$="_confirmbox"] h2 {
	margin: 0 0 .25em 0;
}

div[id$="_confirmbox"] p:nth-of-type(2) {
	text-align: center;
	margin: 0;
	padding: 0 4px 4px 4px;
}

div[id$="_confirmbox"] input[type="button"] {
	padding: 3px 4px;
}

input[type="submit"]:disabled,
input[type="button"]:disabled,
input.confirmbox_active {
	opacity: .5;
	cursor: not-allowed;
}

/* SETTINGS */

legend.legend_sub {
	border: 0;
	margin: 1em 0;
	padding: 0;
	display: flex;
	white-space: nowrap;
}

legend.legend_sub:after {
	content: "";
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	margin: 0 0 .5em 1em;
}

/*
* phpBB ACP Toggles - A CSS class that makes it easy to display checkboxes as toggles.
* Source     : https://danklammer.com/articles/simple-css-toggle-switch/
* Revision by: Kirk (customization and optimization), LukeWCS (optimization)
*/

.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 38px;
	height: 17px;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
	font-family: FontAwesome;
}

.toggle:before {
	position: absolute;
	width: 14px;
	height: 13px;
	background-color: #ffffff;
	top: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 22px;
	content: "\f00d";
}

.toggle,
.toggle:hover,
.toggle:focus {
	background-color: #cccccc;
	border: none;
	color: #000000;
}

.toggle:checked {
	background-color: #3b87ab;
}

.toggle:checked:before {
	left: 2px;
	content: "\f00c";
}

/* EXTENSION MANAGER */

.js_link {
	color: #105289;
}

.js_link:hover {
	color: #BC2A4D;
	text-decoration: underline;
	cursor: pointer;
}

.js_link.disabled,
.js_link.disabled:hover {
	color: #536482;
	text-decoration: none;
	cursor: not-allowed;
	opacity: .5;
}

fieldset.quick a i.icon,
.js_link i.icon {
	margin: 0 .3em;
	font-size: 1.1em;
}

div.successbox i.icon,
fieldset.quick a i.icon,
.js_link i.icon {
	display: inline-block;
}

div.successbox.notice {
	border-radius: 5px;
}

div.successbox.notice i.icon {
	font-size: 1.2em;
}

thead th i.icon {
	font-size: 1.1em;
	font-weight: normal;
}

#extmgrplus_list td:nth-of-type(2) i.fa-exclamation-triangle {
	color: #DF950D;
}

#extmgrplus_list td:nth-of-type(2) i.icon {
	cursor: help;
	font-size: 1.2em;
}

#extmgrplus_list td:nth-of-type(3) i.icon {
	font-size: 1.2em;
}

#extmgrplus_list td:nth-of-type(6) i.icon {
	cursor: help;
	font-size: 1.3em;
}

fieldset.extmgrplus_order_and_ignore dt {
	width: 50%;
}

fieldset.extmgrplus_order_and_ignore dd {
	margin-left: 50%;
	color: inherit;
}

fieldset.extmgrplus_order_and_ignore dd label {
	text-align: left;
	font-weight: bold;
}

fieldset.extmgrplus_order_and_ignore dd label:hover {
	color: inherit;
}

#extmgrplus_list input[name$="able_all"] {
	padding: 1px 5px;
}

#extmgrplus_list input[type="text"] {
	text-align: right;
	padding: 0 2px;
	margin: 0 2px;
	background-color: #F9F9F9;
}

input[type="text"].inactive {
	opacity: .5;
}

input[type="checkbox"]:disabled {
	cursor: not-allowed;
}

#extmgrplus_list th:nth-of-type(1n+2),		/* version+ */
#extmgrplus_list td:nth-of-type(1n+2) {
	text-align: center;
}

#extmgrplus_list th:nth-of-type(2) {		/* version */
	width: 16%;
}

#extmgrplus_list th:nth-of-type(3) {		/* migrations */
	width: 1%;
}

#extmgrplus_list td:nth-of-type(3) span {	/* migrations */
	cursor: help;
}

#extmgrplus_list th:nth-of-type(4) {		/* options */
	width: 10%;
}

#extmgrplus_list th:nth-of-type(5) {		/* actions */
	width: 25%;
}

#extmgrplus_list th:nth-of-type(1n+6) {		/* select+  */
	width: 1%;
}

/* RESPONSIVE */

.extmgrplus_responsive {
	display: none;
}

@media (max-width: 700px){
	legend {
		margin: 2px 0 0 -6px;
		padding: 2px 5px;
	}

	#extmgrplus_settings dd {
		margin: .5em 0 0 0;
	}

	fieldset.extmgrplus_order_and_ignore dt {
		width: 100%;
	}

	fieldset.extmgrplus_order_and_ignore dd {
		margin: .5em 0 0 0;
		padding: .5em 0 0 0;
		border-top: 1px solid #CCCCCC;
	}
}
