/* GENERAL */

.disabled,
.disabled:hover {
	color: inherit !important;
	text-decoration: none;
}

.inactive,
.disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="checkbox"][class^="toggle"]:disabled {
	opacity: .5;
}

.disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="checkbox"]:disabled {
	cursor: not-allowed;
}

/* CONFIRM BOX */

div[id$="_confirmbox"] h2,
#confirm h2 {
	margin-bottom: .25em;
}

/* ICONS */

fieldset.quick a .icon {	/* link bar */
	display: inline-block;
	margin: 0 .3em;
	font-size: 1.1em;
}

thead th .icon {			/* table header */
	font-size: 1.1em;
	font-weight: normal;
}

div.successbox .icon {		/* trigger_error */
	display: inline-block;
}

#extmgrplus_list td:nth-of-type(2) .fa-exclamation-triangle {		/* version */
	color: #DF950D;
}

#extmgrplus_list td:nth-of-type(2) .icon {							/* version */
	cursor: help;
	font-size: 1.2em;
}

#extmgrplus_list td:nth-of-type(3) .icon {							/* migrations */
	font-size: 1.2em;
}

#extmgrplus_list td:nth-of-type(6) .icon {							/* select */
	cursor: help;
	font-size: 1.3em;
}

/* SETTINGS */

fieldset {
	border-radius: 5px;
}

legend {
	background: inherit;
	margin: 2px 0 0 -11px;
	border-top: inherit;
	border-left: inherit;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	top: 0;
}

legend.legend_sub {
	border: 0;
	margin: 1em 0;
	padding: 0;
	display: flex;
	white-space: nowrap;
}

legend.legend_sub:after {
	content: "";
	border-bottom: 1px solid #cccccc;
	width: 100%;
	margin: 0 0 .5em 1em;
}

input[name^="extmgrplus_"].button2,
.submit-buttons input[class^="button"] {
	padding: 3px 4px;
}

fieldset.extmgrplus_order_and_ignore dt {
	width: 50%;
}

fieldset.extmgrplus_order_and_ignore dd {
	margin-left: 50%;
	color: inherit;
}

fieldset.extmgrplus_order_and_ignore label {
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	color: #4A5A73;
}

div[id$="_confirmbox"] {
	max-width: 450px;
	border: 2px solid skyblue;
	padding: .25em .5em;
	margin: .75em .5em;
	border-radius: 5px;
}

/* LIST */

#extmgrplus_list input[name$="able_all"] {
	padding: 1px 5px;
}

#extmgrplus_list input[type="text"] {
	text-align: right;
	padding: 0 2px;
	margin: 0 2px;
	background-color: #F9F9F9;
}

#extmgrplus_list th:nth-of-type(1n+2),		/* version+ */
#extmgrplus_list td:nth-of-type(1n+2) {
	text-align: center;
}

#extmgrplus_list th:nth-of-type(2) {		/* version */
	width: 16%;
}

#extmgrplus_list th:nth-of-type(3) {		/* migrations */
	width: 1%;
}

#extmgrplus_list td:nth-of-type(3) span {	/* migrations */
	cursor: help;
}

#extmgrplus_list th:nth-of-type(4) {		/* options */
	width: 10%;
}

#extmgrplus_list th:nth-of-type(5) {		/* actions */
	width: 25%;
}

#extmgrplus_list th:nth-of-type(1n+6) {		/* select+  */
	width: 1%;
}

#extmgrplus_list td:nth-of-type(1n+6) {		/* select+  */
	padding: 0 4px;
}

/* FOOTER */

.extmgrplus_footer {
	margin-top: 1em;
	text-align: center;
	font-size: .75em;
}

/* RESPONSIVE */

.extmgrplus_responsive {
	display: none;
}

@media (max-width: 700px){
	legend {
		margin: 2px 0 0 -6px;
		padding: 2px 5px;
	}

	.extmgrplus_order_and_ignore dd,
	#extmgrplus_settings dd {
		margin-top: .5em;
	}

	fieldset.extmgrplus_order_and_ignore dt {
		width: 100%;
	}

	fieldset.extmgrplus_order_and_ignore dd {
		margin-left: 0;
		padding-left: 0;
	}
}
