{% import '@lukewcs_extmgrplus/acp_ext_mgr_plus_macros.html' as common %}


{% if EXTMGRPLUS_DETAILS|length %}
	<fieldset>
		<legend>{{ lang('EXTMGRPLUS_SECTION_DETAILS') }}</legend>

		{% if EXTMGRPLUS_DETAILS.cdb_page %}
		<dl>
			<dt><label>{{ lang('EXTMGRPLUS_DETAILS_CDB_PAGE') ~ lang('COLON') }}</label></dt>
			<dd><strong><a href="{{ EXTMGRPLUS_DETAILS.cdb_page }}">{{ EXTMGRPLUS_DETAILS.cdb_page }}</a></strong></dd>
		</dl>
		{% endif %}

		{% if EXTMGRPLUS_DETAILS.version_url %}
		<dl>
			<dt><label>{{ lang('EXTMGRPLUS_DETAILS_VERSION_URL') ~ lang('COLON') }}</label></dt>
			<dd><strong><a href="{{ EXTMGRPLUS_DETAILS.version_url }}">{{ EXTMGRPLUS_DETAILS.version_url }}</a></strong></dd>
		</dl>
		{% endif %}
	</fieldset>
{% endif %}

{{ common.footer(EXTMGRPLUS_METADATA) }}

{% INCLUDECSS '@lukewcs_extmgrplus/acp_ext_mgr_plus.css' %}

